<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/code-infosys/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="code-infosys" />
      <add key="ClearTextPassword" value="57bf5aefc2d28a010fc283dfffd11764e8b33eed" />
    </github>
  </packageSourceCredentials>
</configuration>